#invitation {
  margin-block: 25vmax;

  color: var(--clr-primary-200);
  font-family: 'Eurof35', serif;
}

#invitation .content {
  width: 100%;
  font-size: min(3rem, 8vw);
}

#invitation p {
  margin-block: 3%;
  font-weight: bold;
}

#invitation .recipient {
  display: inline-block;

  color: var(--clr-ascent);
  font-family: 'Calligraph', serif;
}

#invitation input.recipient {
  max-width: 40%;
  background-color: transparent;
  font-size: inherit;
}