#invitation {
  color: var(--clr-invitation-text);
  font-family: 'Eurof35', serif, sans-serif, monospace;
  text-align: center;
}

#invitation .content {
  margin: 0 2rem;

  font-size: min(3rem, 8vw);
  line-height: 110%;
}

#invitation p {
  font-weight: 900;
  margin: 1.5rem 0;
}

#invitation span.recipient,
#invitation input.recipient {
  color: var(--clr-invitation-name);
  font-size: inherit;
  font-family: 'Calligraph', serif, sans-serif, monospace;
}

#invitation input.recipient {
  max-width: 25%;
  background-color: transparent;
}