#landing {
  max-width: 100%;
  min-height: 100vh;

  color: var(--clr-ascent);
  font-family: 'bridal', serif;
}

#landing::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/glitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#landing .heading {
  font-size: min(10rem, 10vw);
  line-height: 200%;
}

#landing .heading span {
  line-height: 0;
  font-size: 150%;
}

@media screen and (orientation: landscape) {
  #landing .heading {
    font-size: min(5rem, 6vw);
  }
}

@media only screen and (hover: none) and (any-pointer: coarse) {
  #landing .heading {
    margin-top: -10rem; /* fix: 'bridal' ff is broken in mobile */
  }
}