#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  color: var(--clr-landing-text);
  font-family: 'bridal', serif, sans-serif, monospace;
  text-align: center;
}

#landing::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/glitter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#landing .heading {
  display: inline-block;

  font-size: min(10rem, 10vw);
  line-height: 190%;
}

#landing .heading span {
  color: var(--clr-landing-name);
  font-size: 150%;
}

@media screen and (orientation: landscape) {
  #landing .heading {
    font-size: min(5rem, 6vw);
  }
}

@media only screen and (hover: none) and (any-pointer: coarse) {
  #landing .heading {
    margin-top: -10rem;
  }
}