@font-face {
  font-family: 'bridal';
  src: url('/assets/fonts/bridal.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Calligraph';
  src: url('/assets/fonts/Calligraph.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Eurof35';
  src: url('/assets/fonts/Eurof35.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Solena';
  src: url('/assets/fonts/Solena.woff') format('woff');
  font-display: swap;
}

:root {
  --clr-primary-100: hsla(0, 0%, 100%, 1);
  --clr-primary-200: hsla(0, 0%, 76%, 1);
  --clr-primary-300: hsla(0, 0%, 61%, 1);
  --clr-primary-900: hsla(0, 0%, 0%, 1);
  --clr-ascent: hsla(4, 93%, 23%, 1);

  --border-spacing: 5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  color-scheme: only dark;
}

body {
  color: var(--clr-primary-300);
  text-align: center;
  background-image: url('/assets/images/background.jpg');
  background-color: var(--clr-primary-900);
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin-inline: var(--border-spacing);
}

img {
  max-width: 100%;
  display: inline-block;
}