#program {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin-bottom: 5rem;

  color: var(--clr-program-text);
  font-family: 'Solena', serif, sans-serif, monospace;
  text-align: center;
}

#program article {
  margin: 0 1rem;
  padding: 2rem;
}

#program article .caption {
  padding: 2rem;

  font-size: min(9rem, 25vw);
  font-weight: 100;
}

#program article .description {
  padding-bottom: 1rem;
  font-weight: 900;

  color: var(--clr-program-description);
  font-size: min(4rem, 12vw);
}

#program article .sub-description {
  position: relative;

  color: var(--clr-program-sub-description);
  font-family: 'Eurof35', serif, sans-serif, monospace;
  font-size: min(2rem, 8vw);
  font-style: italic;
}

#program article .sub-description::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-program-sub-description);
}

#program .separator {
  padding: 0 2rem;
  margin: 0 100%;
}

#program .map {
  min-width: 80vw;
  height: 60vh;
  margin: 5rem 0;

  border: none;
  filter: invert(90%);
}

@media only screen and (max-width: 480px) {
  #program .map {
    min-width: 95%;
  }
}