#program {
  gap: 10vmax;

  font-family: 'Solena', serif;
}

#program .headline {
  width: 100%;
  margin-block-end: 10%;

  font-size: min(10rem, 30vw);
}

#program .card {
  flex: 1;
  align-self: stretch;
}

#program .card .caption {
  font-size: min(9rem, 25vw);
  font-weight: normal;
}

#program article .icon {
  margin-block: 5%;
}

#program .card .description {
  margin-block-end: 5%;

  color: var(--clr-ascent);
  font-size: min(4rem, 12vw);
  font-weight: bold;
}

#program .card .sub-description {
  position: relative;

  font-family: 'Eurof35', serif;
  font-size: min(2rem, 8vw);
  font-style: italic;
}

#program .card .sub-description::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-primary-300);
}