@font-face {
  font-family: 'bridal';
  src: url('/assets/fonts/bridal.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Calligraph';
  src: url('/assets/fonts/Calligraph.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Eurof35';
  src: url('/assets/fonts/Eurof35.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Solena';
  src: url('/assets/fonts/Solena.woff') format('woff');
  font-display: swap;
}

:root {
  --clr-primary: #9c9c9c;
  --clr-secondary: #710b04;
  --clr-text: #c2c2c2;

  color-scheme: dark only;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url('/assets/images/background.jpg');
}